<div id="login" class="page">
        <h1>Login</h1>
        <form id="loginForm">
            <label for="loginUsername">Usuário:</label>
            <input type="text" id="loginUsername" name="username" required>
            <label for="loginPassword">Senha:</label>
            <input type="password" id="loginPassword" name="password" required>
            <input type="submit" value="Entrar" onclick="handleLogin(); return false;">
        </form>
        <a href="#" onclick="showPage('index')">Voltar</a>
    </div>